<?xml version="1.0" encoding="utf-8"?>
<manifest package="nanowrimo.onishinji"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.activity.SplashscreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.MyActivity"
            android:label="@string/app_name"
            android:theme="@style/noAnimTheme"></activity>

        <activity android:name=".widget.WidgetDailyWordCountRemainingConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".widget.WidgetWordCountRemainingConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.FriendsActivity"></activity>


        <activity android:name=".ui.activity.FriendActivity"></activity>

        <activity android:name=".ui.activity.CompareActivity"></activity>

        <activity android:name=".ui.activity.DashboardActivity"></activity>

        <activity android:name=".ui.activity.SettingsActivity"></activity>

        <activity android:name=".ui.activity.AboutActivity"></activity>

        <activity android:name=".ui.activity.FavoriesActivity"></activity>


        <receiver
            android:name=".widget.WidgetDailyWordCountRemaining"
            android:label="@string/widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_daily_word_count_remaining_info" />
        </receiver>

        <receiver
            android:name=".widget.WidgetWordCountRemaining"
            android:label="@string/widget_title_global">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_word_count_remaining_info" />
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="b764f108892a2f4f8117d92e650403590400bc8c" />

    </application>

</manifest>
